<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }

        .red {
            background: red;
        }

        .blue {
            background: blue;
        }

        .green {
            background: green;
        }
    </style>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(person, index) of people">
            {{index + 1}} {{ person.name }} - <b>{{ person.age }}</b>
        </li>
    </ul>
    <hr>
    <ol>
        <li v-for="num of 5"> {{num}}</li>
    </ol>

    <hr>
    <ul>
        <li v-for="(value, key, index) in person"><em>{{index+1}}</em> <b>{{key}}</b> {{value}}</li>

    </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            people: [
                {name: 'Vlad', age: 20},
                {name: 'Max', age: 30},
                {name: 'Elrna', age: 25},
                {name: 'Timur', age: 43}
            ],
            person: {
                name: 'Victor',
                age: 50,
                job: 'Lumberjack'
            }
        }
    })
</script>
</body>
</html>